.MovieCard {
    background-color: white;
    color: black;
    width: 18rem;    
    

}



.MovieCard-container {
   
    margin: 0px 22px;
   
    img{
        height:424px;
    }
}

.card-body {
    margin: 0px 20px;
    min-height: 220px;
}

