.MovieCard {
    background-color: white;
    color: black;
    width: 18rem;    
    

}



.MovieCard-container {
   
    margin: 0px 22px;
   
    img{
        height:424px;
    }
}

.card-body {
     background-color: red;
  animation-name: example;
  animation-duration: 6s;
  animation-iteration-count: infinite;
    margin: 0px 20px;
    min-height: 220px;
}

.card-body:hover {
color: rgb(85, 3, 3);
}


@keyframes example {
  from {background-color: rgb(102, 4, 4);}
  to {background-color: yellow;}
  to {background-color: brown;}
}
