/* 
   work here
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url("https://movies-tvshows-data-imdb.p.rapidapi.com/?type=get-nowplaying-movies&page=1");

* {
    box-sizing: border-box;
}


body{
    background-color: black;
    color: whitesmoke;
    // font-family: "Roboto", Helvetica, Arial;
    font-family: 'Zen Dots', cursive;
    margin: 0;

}

.carouselImg {
    height: auto;
    width: 100vw;
}

.Card-container{
    display: flex;
    flex-wrap: wrap;
}

.Card {
    margin: lrem;
    width: 300px;
}

.Card img {
    max-width: 100%;
}


@import url("https:movies-tvshows-data-imdb.rapidapi.com");
*{
    box-sizing: border-box;
}

.card-body{
    color: grey;
}

.MovieCard  {
    width: 300px;

}

.MovieCard img {
    max-width: 100%;
}


 .moviecard-container { 
        height: 500px;  
        margin: 0px 8px;
        img{
            height: 400px;
        
        }

    }


    .MovieDetails-container {
    height: 454px;
    color: yellow;
}


#popout:hover{
    background-color: yellow;
} 

#funnavbar {
    background-color: greenyellow;
}